.screen {
  background-color: #ffffff;
  height: 1700px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.screen .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 118px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 152px;
}

.screen .overlap {
  height: 208px;
  left: 0;
  position: absolute;
  top: 153px;
  width: 1440px;
}

.screen .line {
  height: 4px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 1440px;
}

.screen .rectangle {
  background-color: #575454;
  height: 201px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 1440px;
}

.screen .div {
  color: #fcf9f9;
  font-family: "Inter-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 52px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 87px;
  width: 919px;
}

.screen .element {
  height: 208px;
  left: 1050px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 225px;
}

.screen .img {
  height: 4px;
  left: 2px;
  position: absolute;
  top: 903px;
  width: 1438px;
}

.screen .overlap-group {
  background-color: #f6f5f5;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.screen .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 1302px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 112px;
}

.screen .overlap-2 {
  height: 65px;
  left: 82px;
  position: absolute;
  top: 362px;
  width: 476px;
}

.screen .line-2 {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

.screen .line-3 {
  height: 31px;
  left: 3px;
  position: absolute;
  top: 34px;
  width: 36px;
}

.screen .p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 473px;
}

.screen .overlap-3 {
  height: 65px;
  left: 1351px;
  position: absolute;
  top: 363px;
  width: 38px;
}

.screen .line-4 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 38px;
}

.screen .line-5 {
  height: 33px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 34px;
}

.screen .overlap-4 {
  height: 435px;
  left: -28px;
  position: absolute;
  top: 433px;
  width: 1486px;
}

.screen .text-wrapper-3 {
  color: #fffafa;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 474px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 174px;
}

.screen .line-6 {
  height: 2px;
  left: 113px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1274px;
}

.screen .line-7 {
  height: 4px;
  left: 113px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 1270px;
}

.screen .line-8 {
  height: 6px;
  left: 113px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 955px;
}

.screen .line-9 {
  height: 4px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 149px;
  width: 957px;
}

.screen .line-10 {
  height: 2px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 203px;
  width: 957px;
}

.screen .line-11 {
  height: 2px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 256px;
  width: 959px;
}

.screen .line-12 {
  height: 2px;
  left: 113px;
  object-fit: cover;
  position: absolute;
  top: 307px;
  width: 1274px;
}

.screen .line-13 {
  height: 2px;
  left: 113px;
  object-fit: cover;
  position: absolute;
  top: 360px;
  width: 1274px;
}

.screen .line-14 {
  height: 2px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 433px;
  width: 1274px;
}

.screen .line-15 {
  height: 433px;
  left: 298px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 1px;
}

.screen .line-16 {
  height: 307px;
  left: 1066px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 3px;
}

.screen .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 394px;
}

.screen .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 63px;
  width: 394px;
}

.screen .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 112px;
  width: 394px;
}

.screen .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 168px;
  width: 394px;
}

.screen .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 218px;
  width: 394px;
}

.screen .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 270px;
  width: 394px;
}

.screen .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 320px;
  width: 394px;
}

.screen .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 374px;
  width: 394px;
}

.screen .text-wrapper-12 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 281px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 63px;
  width: 504px;
}

.screen .text-wrapper-13 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 982px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 125px;
  width: 504px;
}

.screen .text-wrapper-14 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 113px;
  width: 504px;
}

.screen .text-wrapper-15 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 334px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 163px;
  width: 504px;
}

.screen .text-wrapper-16 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 327px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 270px;
  width: 504px;
}

.screen .text-wrapper-17 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 298px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 219px;
  width: 561px;
}

.screen .text-wrapper-18 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 299px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 320px;
  width: 688px;
}

.screen .text-wrapper-19 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 334px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 374px;
  width: 1006px;
}

.screen .text-wrapper-20 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 448px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 394px;
}

.screen .text-wrapper-21 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1020px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 394px;
}

.screen .overlap-5 {
  height: 40px;
  left: 38px;
  position: absolute;
  top: 950px;
  width: 473px;
}

.screen .text-wrapper-22 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 473px;
}

.screen .line-17 {
  height: 31px;
  left: 74px;
  position: absolute;
  top: 9px;
  width: 36px;
}

.screen .line-18 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 1497px;
  width: 1440px;
}

.screen .overlap-6 {
  height: 464px;
  left: -12px;
  position: absolute;
  top: 996px;
  width: 1405px;
}

.screen .overlap-group-2 {
  height: 464px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1405px;
}

.screen .text-wrapper-23 {
  color: #fffafa;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 485px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 174px;
}

.screen .line-19 {
  height: 2px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1274px;
}

.screen .line-20 {
  height: 4px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 1270px;
}

.screen .line-21 {
  height: 3px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 1270px;
}

.screen .line-22 {
  height: 3px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 152px;
  width: 1278px;
}

.screen .line-23 {
  height: 3px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 204px;
  width: 1278px;
}

.screen .line-24 {
  height: 1px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 256px;
  width: 1278px;
}

.screen .line-25 {
  height: 2px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 307px;
  width: 1274px;
}

.screen .line-26 {
  height: 2px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 360px;
  width: 1274px;
}

.screen .line-27 {
  height: 48px;
  left: 120px;
  position: absolute;
  top: 409px;
  width: 1274px;
}

.screen .line-28 {
  height: 454px;
  left: 309px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 1px;
}

.screen .line-29 {
  height: 456px;
  left: 870px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.screen .text-wrapper-24 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 394px;
}

.screen .text-wrapper-25 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 63px;
  width: 394px;
}

.screen .text-wrapper-26 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 112px;
  width: 394px;
}

.screen .text-wrapper-27 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 168px;
  width: 394px;
}

.screen .text-wrapper-28 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 218px;
  width: 394px;
}

.screen .text-wrapper-29 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 270px;
  width: 394px;
}

.screen .text-wrapper-30 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 320px;
  width: 394px;
}

.screen .text-wrapper-31 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 374px;
  width: 394px;
}

.screen .text-wrapper-32 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 422px;
  width: 394px;
}

.screen .text-wrapper-33 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 163px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 63px;
  width: 504px;
}

.screen .text-wrapper-34 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 901px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 417px;
  width: 504px;
}

.screen .text-wrapper-35 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 141px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 113px;
  width: 504px;
}

.screen .text-wrapper-36 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 338px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 163px;
  width: 504px;
}

.screen .text-wrapper-37 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 335px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 256px;
  width: 542px;
}

.screen .text-wrapper-38 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 228px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 219px;
  width: 561px;
}

.screen .text-wrapper-39 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 170px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 320px;
  width: 688px;
}

.screen .text-wrapper-40 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 182px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 371px;
  width: 688px;
}

.screen .text-wrapper-41 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 415px;
  width: 688px;
}

.screen .text-wrapper-42 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 367px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 394px;
}

.screen .text-wrapper-43 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 901px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 504px;
}

.screen .text-wrapper-44 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 901px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 120px;
  width: 504px;
}

.screen .text-wrapper-45 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 898px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 170px;
  width: 504px;
}

.screen .text-wrapper-46 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 901px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 218px;
  width: 504px;
}

.screen .text-wrapper-47 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 898px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 270px;
  width: 504px;
}

.screen .text-wrapper-48 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 901px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 322px;
  width: 504px;
}

.screen .text-wrapper-49 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 898px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 371px;
  width: 504px;
}

.screen .text-wrapper-50 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 956px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 394px;
}

.screen .text-wrapper-51 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 86px;
  width: 224px;
}

.screen .text-wrapper-52 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 547px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 84px;
  width: 224px;
}

.screen .overlap-7 {
  height: 42px;
  left: 821px;
  position: absolute;
  top: 78px;
  width: 572px;
}

.screen .text-wrapper-53 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 224px;
}

.screen .text-wrapper-54 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 206px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 224px;
}

.screen .rectangle-2 {
  height: 42px;
  left: 424px;
  position: absolute;
  top: 0;
  width: 144px;
}

.screen .text-wrapper-55 {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 465px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 107px;
}

.screen .overlap-8 {
  background-color: #f6f6f6;
  height: 171px;
  left: -6px;
  position: absolute;
  top: 1529px;
  width: 1453px;
}

.screen .text-wrapper-56 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 57px;
  width: 152px;
}

.screen .overlap-9 {
  height: 128px;
  left: 444px;
  position: absolute;
  top: 22px;
  width: 341px;
}

.screen .element-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  width: 341px;
}

.screen .line-30 {
  height: 128px;
  left: 330px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.screen .line-31 {
  height: 130px;
  left: 366px;
  position: absolute;
  top: 20px;
  width: 1px;
}

.screen .SUNGKONGHOE {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 861px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 462px;
}
